<!DOCTYPE html>
<html>
  <head>
    <title>Jakob Rohlmann</title>
    <link rel='stylesheet' href='/stylesheets/style.scss'>
  </head>
  <body>
    <h1>Jakob Rohlmann</h1>
    <p>19</p>
    <p>Computer Programmer </p>
    <br>
    <p> I was born in Orangeville, Ontario, Canada on December 16th, 1998.  My dad had to rush to the hospital as I had interrupted his college exam.  Luckily there wasn't much problem after that.  My older sister gave me my first birthday gift, and my parents (or more my dad) decided on a name for me before I was born.  Eventualy I was taken home and I'd live in Organeville until 2007, when I moved to Shelburne Ontario.</p>
    <br>
    <p> Up until around grade 6 I was homeschooled, so starting school in 2009 and jumping into the middle of it was quite the shock.  I caught up with the other students as best as I could, and made some friends that I still talk to at least weekly.  I finished grade 8 and went into high school.  Thankfully, my sister gave me a run down of what to do and how it works.  Basically it was "don't be dumb".  After what felt like no time at all, I was applying for college.  I was accepted to Georgian College in Barrie, and one of my friends and I arranged to live together for the first semester.  I moved out from my parents and moved in with my friend.  I started my computer programmer program at college, and am still completing it.</p>
  </body>
</html>
